body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    text-align: center;
}

nav {
    background-color: crimson;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

header {
    padding: 50px 0;
    background-color: darkgrey;
}

section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Transparent black background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-top: 10px;
    color: white;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #900;
}

footer {
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
